
.container.ex_1{
    background-color: red;
}

.col_bottom{
    background-color: #1e7e34;
    height: 400px;
    flex-grow: 1;
}
.col_itt{
    height: 200px;
    width: 200px;
}

.bg_green{
    background-color: #1e7e34;
}

.bg_blue{
    background-color: #002aff;
}

.bg_light-blue{
    background-color: lightskyblue;
}

.bg_red{
    background-color: #ff0044;
}

.bg_white{
    background-color: white;
}

.bg_broun{
    background-color: brown;
}

.col_ex_2_itt{
    width: 50px;
    height: 50px;
}

.border{
    border: solid;
}

.height_200px{
    height: 200px;
}

.height_600px{
    height: 600px;
}

.height_15per{
    height: 15%;
}

.height_50px{
    height: 50px;
}

.max_height_70per{
    height: 70%;
}

.col_col{
    flex-direction: column;
}

.ex_3_right_bot{
    overflow: auto;
    overflow-y: hidden;
    height: calc(600px - 15%);
}

.ups{
    min-width: 100px;
    flex-grow: 0;

}


